/* Small Screens */
@media screen and (min-width: 320px) and (max-width: 480px) {
  #main_navigation {
    height: 60px !important; }
    #main_navigation .container-fluid {
      padding: 0px !important; }
    #main_navigation .navbar-collapse {
      background-color: #f2f2f2; }
    #main_navigation .navbar-nav li a {
      color: #aaaaaa !important;
      text-align: center;
      margin: 0px !important; }
    #main_navigation .navbar-nav li .admin {
      margin: 0px !important; } }

/* Small Screens Landscape */
/* Smarth Phones */
@media screen and (min-width: 481px) and (max-width: 767px) {
  #main_navigation {
    height: 60px !important; }
    #main_navigation .container-fluid {
      padding: 0px !important; }
    #main_navigation .navbar-collapse {
      background-color: #f2f2f2; }
    #main_navigation .navbar-nav li a {
      color: #aaaaaa !important;
      text-align: center;
      margin: 0px !important; }
    #main_navigation .navbar-nav li .btn-default {
      max-width: 300px;
      display: block;
      margin: 0 auto !important; }
    #main_navigation .navbar-nav li .admin {
      margin: 0px !important; } }

/* Smarth Phones Landscape */
/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #main_navigation .navbar-nav li .admin {
    margin-right: 10px !important; }
  #main_navigation .navbar-nav li .home {
    margin-right: 0px !important; } }

/* Tablets Landscape */
/* Laptops */
/* Laptops Landscape */
/* MAIN NAVIGATION */
#main_navigation {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 61, 71, 0.84)), to(rgba(54, 61, 71, 0.84))), url(../img/bg-animation.gif);
  background-image: -webkit-linear-gradient(top, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url(../img/bg-animation.gif);
  background-image: -o-linear-gradient(top, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url(../img/bg-animation.gif);
  background-image: linear-gradient(180deg, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url(../img/bg-animation.gif);
  height: 50px; }
  #main_navigation .navbar-brand img {
    width: 36px;
    height: 36px;
    margin-top: -8px; }
  #main_navigation .navbar-toggle {
    color: #ffffff;
    font-size: 24px;
    padding-top: 0px; }
  #main_navigation .navbar-nav li a {
    color: #ffffff;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s; }
    #main_navigation .navbar-nav li a:hover {
      text-decoration: none;
      background-color: grey;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      transition: all ease 0.4s; }
    #main_navigation .navbar-nav li a:active {
      background-color: grey; }
    #main_navigation .navbar-nav li a:focus {
      background-color: grey; }
    #main_navigation .navbar-nav li a .messages {
      color: #e2a62b; }
  #main_navigation .navbar-nav li .btn-default {
    background-color: #ffffff;
    color: #aaaaaa;
    padding: 10px 20px;
    border-radius: 0px;
    margin-top: 4px;
    margin-right: 10px; }
    #main_navigation .navbar-nav li .btn-default:hover {
      background-color: grey;
      color: #ffffff;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      transition: all ease 0.4s; }
    #main_navigation .navbar-nav li .btn-default:active {
      background-color: grey;
      color: #ffffff; }
    #main_navigation .navbar-nav li .btn-default:focus {
      background-color: grey;
      color: #ffffff; }
    #main_navigation .navbar-nav li .btn-default i {
      padding-right: 6px; }
  #main_navigation .navbar-nav li .admin {
    padding: 11px 10px;
    margin-right: 30px; }
    #main_navigation .navbar-nav li .admin img {
      width: 27px;
      height: 27px; }
  #main_navigation .navbar-nav li .divider {
    border-left: 1px solid #ffffff;
    height: 35px;
    position: absolute;
    top: 8px;
    right: 10px; }
  #main_navigation .navbar-nav .home {
    font-size: 23px;
    margin-right: 10px; }
    #main_navigation .navbar-nav .home a:hover {
      background-color: inherit;
      color: #e2a62b; }

/* RIGHT MESSENGER SIDEBAR */
#right_messenger_sidebar {
  width: 320px;
  position: absolute;
  right: 0;
  border-left: 1px solid #cacad0;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  #right_messenger_sidebar #sidebar_top_section {
    border-bottom: 1px solid #cacad0;
    text-align: center; }
    #right_messenger_sidebar #sidebar_top_section a {
      font-size: 34px;
      color: #6a859c;
      margin: 0px 15px; }
  #right_messenger_sidebar #options {
    border-bottom: 1px solid #cacad0;
    padding-left: 5px;
    padding-top: 15px;
    color: #aaaaaa; }
    #right_messenger_sidebar #options input {
      width: 250px;
      padding: 5px;
      color: #aaaaaa;
      margin-bottom: 2px; }
      #right_messenger_sidebar #options input:active {
        outline: 0; }
      #right_messenger_sidebar #options input:focus {
        outline: 0; }
      #right_messenger_sidebar #options input::-webkit-input-placeholder {
        color: #aaaaaa; }
    #right_messenger_sidebar #options span {
      color: #6a859c;
      font-size: 21px;
      padding-left: 8px; }
  #right_messenger_sidebar #participants {
    padding-top: 50px;
    padding-left: 5px;
    padding-bottom: 100px;
    color: #aaaaaa; }
    #right_messenger_sidebar #participants img {
      margin-bottom: 6px; }
    #right_messenger_sidebar #participants .name {
      font-size: 16px;
      padding-left: 10px;
      color: #2d3e4f;
      text-decoration: none; }
    #right_messenger_sidebar #participants .time {
      font-size: 11px;
      color: #aaaaaa;
      padding-left: 10px; }
  #right_messenger_sidebar #recent {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    color: #aaaaaa;
    width: 95%;
    overflow-x: hidden;
    height: 380px;
    overflow-y: scroll; }
    #right_messenger_sidebar #recent::-webkit-scrollbar {
      background-color: #ffffff;
      width: 3px !important;
      height: 5px !important; }
    #right_messenger_sidebar #recent::-webkit-scrollbar-thumb {
      background-color: #178ed3;
      width: 5px !important;
      height: 5px !important; }
    #right_messenger_sidebar #recent .row {
      padding: 12.3px 5px; }
    #right_messenger_sidebar #recent p {
      padding-bottom: 15px; }
    #right_messenger_sidebar #recent a {
      float: right;
      padding-right: 15px;
      font-weight: bold;
      text-decoration: none; }

/* MAIN CONTENT MESSENGER */
#main_content_messenger {
  text-align: right;
  padding-right: 320px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }

/*	TOGGLE SIDEBAR	*/
#wrapper.toggle #right_messenger_sidebar {
  width: 0px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }

#wrapper.toggle #main_content_messenger {
  padding-right: 0px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
