/* Small Screens */
@media screen and (min-width: 320px) and (max-width: 480px) {
  #main_navigation {
    height: 60px !important; }
    #main_navigation .container-fluid {
      padding: 0px !important; }
    #main_navigation .navbar-collapse {
      background-color: #f2f2f2; }
    #main_navigation .navbar-nav li a {
      color: #aaaaaa !important;
      text-align: center;
      margin: 0px !important; }
    #main_navigation .navbar-nav li .admin {
      margin: 0px !important; }
  #left_messenger_sidebar {
    margin-top: 0px !important;
    width: 100% !important;
    display: none; }
    #left_messenger_sidebar .scrollbar {
      height: 350px !important; }
  #wrapper #main_content_messenger {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100% !important; }
    #wrapper #main_content_messenger #messages {
      height: 220px !important; }
      #wrapper #main_content_messenger #messages::-webkit-scrollbar-thumb {
        height: 100px !important; }
    #wrapper #main_content_messenger #compose_message a {
      padding: 0px !important; }
    #wrapper #main_content_messenger #add_section {
      padding: 0px !important;
      font-size: 32px; }
  #wrapper #right_messenger_sidebar {
    margin-top: 44px !important;
    background-color: #ffffff;
    z-index: 1; }
    #wrapper #right_messenger_sidebar #sidebar_top_section a {
      font-size: 26px; }
    #wrapper #right_messenger_sidebar #options {
      padding: 2px !important; }
      #wrapper #right_messenger_sidebar #options input {
        padding: 3px !important; }
    #wrapper #right_messenger_sidebar #participants {
      padding: 10px 5px !important; }
    #wrapper #right_messenger_sidebar #recent {
      padding: 5px 2px !important;
      height: 185px !important; }
      #wrapper #right_messenger_sidebar #recent img {
        display: block;
        margin: 0 auto;
        height: 100px !important; } }

/* Small Screens Landscape */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  #left_messenger_sidebar .scrollbar {
    height: 250px !important; }
  #left_messenger_sidebar #left_main_section .media .media-body p {
    max-width: 100% !important; }
  #wrapper #main_content_messenger #messages {
    height: 70px !important; }
    #wrapper #main_content_messenger #messages::-webkit-scrollbar-thumb {
      height: 30px !important; }
  #wrapper #main_content_messenger #compose_message {
    padding: 5px !important; }
    #wrapper #main_content_messenger #compose_message a {
      padding: 0px !important; }
  #wrapper #main_content_messenger #add_section {
    padding: 0px !important; }
  #wrapper #right_messenger_sidebar {
    width: 400px; }
    #wrapper #right_messenger_sidebar #sidebar_top_section {
      padding: 0px !important; }
    #wrapper #right_messenger_sidebar #options {
      padding: 0px !important; }
    #wrapper #right_messenger_sidebar #participants {
      padding: 2px 5px !important; }
    #wrapper #right_messenger_sidebar #recent {
      padding: 0px 2px !important;
      height: 165px !important; }
      #wrapper #right_messenger_sidebar #recent img {
        display: block;
        margin: 0 auto;
        height: 100px !important; } }

/* Smarth Phones */
@media screen and (min-width: 481px) and (max-width: 767px) {
  #main_navigation {
    height: 60px !important; }
    #main_navigation .container-fluid {
      padding: 0px !important; }
    #main_navigation .navbar-collapse {
      background-color: #f2f2f2; }
    #main_navigation .navbar-nav li a {
      color: #aaaaaa !important;
      text-align: center;
      margin: 0px !important; }
    #main_navigation .navbar-nav li .btn-default {
      max-width: 300px;
      display: block;
      margin: 0 auto !important; }
    #main_navigation .navbar-nav li .admin {
      margin: 0px !important; }
  #left_messenger_sidebar {
    margin-top: -5px !important;
    width: 100% !important;
    display: none; }
    #left_messenger_sidebar .scrollbar {
      height: 650px !important; }
    #left_messenger_sidebar #left_main_section .media .media-body p {
      max-width: 100% !important; }
  #wrapper #main_content_messenger {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100% !important; }
    #wrapper #main_content_messenger #messages {
      height: 480px !important; }
      #wrapper #main_content_messenger #messages::-webkit-scrollbar-thumb {
        height: 100px !important; }
    #wrapper #main_content_messenger #add_section {
      font-size: 36px; }
  #wrapper #right_messenger_sidebar {
    margin-top: 44px !important;
    background-color: #ffffff;
    z-index: 1;
    width: 400px; }
    #wrapper #right_messenger_sidebar #participants {
      padding: 43px 5px !important; } }

/* Smarth Phones Landscape */
@media screen and (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  #left_messenger_sidebar {
    margin-top: -5px !important;
    width: 100% !important; }
    #left_messenger_sidebar .scrollbar {
      height: 350px !important; }
  #wrapper #main_content_messenger {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100% !important; }
    #wrapper #main_content_messenger #messages {
      height: 200px !important; }
      #wrapper #main_content_messenger #messages::-webkit-scrollbar-thumb {
        height: 100px !important; }
    #wrapper #main_content_messenger #add_section {
      font-size: 36px; }
  #wrapper #right_messenger_sidebar {
    width: 500px; }
    #wrapper #right_messenger_sidebar #participants {
      padding: 20px 5px !important; } }

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #main_navigation .navbar-nav li .admin {
    margin-right: 10px !important; }
  #main_navigation .navbar-nav li .home {
    margin-right: 0px !important; }
  #left_messenger_sidebar {
    margin-top: 0px !important;
    width: 100% !important;
    display: none; }
    #left_messenger_sidebar .scrollbar {
      height: 650px !important; }
    #left_messenger_sidebar #left_main_section .media .media-body p {
      max-width: 100% !important; }
  #wrapper #main_content_messenger {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100% !important; }
    #wrapper #main_content_messenger #messages {
      height: 725px !important; }
      #wrapper #main_content_messenger #messages::-webkit-scrollbar-thumb {
        height: 100px !important; }
    #wrapper #main_content_messenger #add_section {
      font-size: 50px; }
  #wrapper #right_messenger_sidebar {
    margin-top: 44px !important;
    background-color: #ffffff;
    height: 100%;
    z-index: 1;
    width: 500px; }
    #wrapper #right_messenger_sidebar #recent {
      height: 60%; } }

/* Tablets Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #wrapper #main_content_messenger {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100% !important; }
    #wrapper #main_content_messenger #messages {
      height: 480px !important; }
      #wrapper #main_content_messenger #messages::-webkit-scrollbar-thumb {
        height: 100px !important; }
    #wrapper #main_content_messenger #add_section {
      font-size: 50px; }
  #wrapper #right_messenger_sidebar #recent {
    height: 43%; } }

/* Laptops */
/* Laptops Landscape */
body {
  overflow: hidden; }

/* MAIN NAVIGATION */
#main_navigation {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 61, 71, 0.84)), to(rgba(54, 61, 71, 0.84))), url(../img/bg-animation.gif);
  background-image: -webkit-linear-gradient(top, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url(../img/bg-animation.gif);
  background-image: -o-linear-gradient(top, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url(../img/bg-animation.gif);
  background-image: linear-gradient(180deg, rgba(54, 61, 71, 0.84), rgba(54, 61, 71, 0.84)), url(../img/bg-animation.gif);
  height: 50px; }
  #main_navigation .navbar-brand img {
    width: 36px;
    height: 36px;
    margin-top: -8px; }
  #main_navigation .navbar-toggle {
    color: #ffffff;
    font-size: 24px;
    padding-top: 0px; }
  #main_navigation .navbar-nav li a {
    color: #ffffff;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s; }
    #main_navigation .navbar-nav li a:hover {
      text-decoration: none;
      background-color: grey;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      transition: all ease 0.4s; }
    #main_navigation .navbar-nav li a:active {
      background-color: grey; }
    #main_navigation .navbar-nav li a:focus {
      background-color: grey; }
    #main_navigation .navbar-nav li a .messages {
      color: #e2a62b; }
  #main_navigation .navbar-nav li .btn-default {
    background-color: #ffffff;
    color: #aaaaaa;
    padding: 10px 20px;
    border-radius: 0px;
    margin-top: 4px;
    margin-right: 10px; }
    #main_navigation .navbar-nav li .btn-default:hover {
      background-color: grey;
      color: #ffffff;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      transition: all ease 0.4s; }
    #main_navigation .navbar-nav li .btn-default:active {
      background-color: grey;
      color: #ffffff; }
    #main_navigation .navbar-nav li .btn-default:focus {
      background-color: grey;
      color: #ffffff; }
    #main_navigation .navbar-nav li .btn-default i {
      padding-right: 6px; }
  #main_navigation .navbar-nav li .admin {
    padding: 11px 10px;
    margin-right: 30px; }
    #main_navigation .navbar-nav li .admin img {
      width: 27px;
      height: 27px; }
  #main_navigation .navbar-nav li .divider {
    border-left: 1px solid #ffffff;
    height: 35px;
    position: absolute;
    top: 8px;
    right: 10px; }
  #main_navigation .navbar-nav .home {
    font-size: 23px;
    margin-right: 10px; }
    #main_navigation .navbar-nav .home a:hover {
      background-color: inherit;
      color: #e2a62b; }

/*	LEFT MESSENGER SIDEBAR	*/
#left_messenger_sidebar {
  width: 320px;
  position: absolute;
  left: 0;
  margin-top: -10px;
  border-right: 1px solid #cacad0; }
  #left_messenger_sidebar .scrollbar {
    overflow: scroll;
    overflow-x: hidden;
    height: 645px; }
    #left_messenger_sidebar .scrollbar::-webkit-scrollbar {
      background-color: #ffffff;
      width: 3px !important; }
    #left_messenger_sidebar .scrollbar::-webkit-scrollbar-thumb {
      background-color: #178ed3;
      height: 200px !important;
      width: 3px; }
  #left_messenger_sidebar #left_top_section {
    border-bottom: 1px solid #cacad0;
    padding: 10px 5px; }
    #left_messenger_sidebar #left_top_section input {
      width: 100%;
      padding: 5px;
      color: #aaaaaa; }
      #left_messenger_sidebar #left_top_section input:active {
        outline: 0; }
      #left_messenger_sidebar #left_top_section input:focus {
        outline: 0; }
      #left_messenger_sidebar #left_top_section input::-webkit-input-placeholder {
        color: #aaaaaa; }
  #left_messenger_sidebar #left_main_section {
    padding: 10px; }
    #left_messenger_sidebar #left_main_section .media {
      padding: 0px 10px;
      overflow: visible !important; }
    #left_messenger_sidebar #left_main_section .unread-message {
      border-left: 3px solid #e2a62b; }
    #left_messenger_sidebar #left_main_section .media-left img {
      border: 3px solid #aaaaaa; }
    #left_messenger_sidebar #left_main_section .media-left .green-border {
      border: 3px solid #4cc77f; }
    #left_messenger_sidebar #left_main_section .media-body {
      cursor: pointer;
      overflow: visible !important; }
      #left_messenger_sidebar #left_main_section .media-body .media-heading {
        color: #192024;
        font-weight: bold;
        font-size: 14px; }
        #left_messenger_sidebar #left_main_section .media-body .media-heading span {
          float: right;
          font-size: 12px;
          color: #178ed3; }
      #left_messenger_sidebar #left_main_section .media-body .dropdown {
        display: block;
        float: right; }
        #left_messenger_sidebar #left_main_section .media-body .dropdown .dropdown-menu {
          margin-left: -150px !important; }
      #left_messenger_sidebar #left_main_section .media-body p {
        float: left;
        max-width: 200px; }
      #left_messenger_sidebar #left_main_section .media-body .bold-text {
        font-weight: bold; }
      #left_messenger_sidebar #left_main_section .media-body a img {
        float: right; }

/* RIGHT MESSENGER SIDEBAR */
#right_messenger_sidebar {
  width: 320px;
  position: absolute;
  right: 0;
  border-left: 1px solid #cacad0;
  margin-top: -10px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  #right_messenger_sidebar #sidebar_top_section {
    border-bottom: 1px solid #cacad0;
    text-align: center;
    padding: 3px 0px; }
    #right_messenger_sidebar #sidebar_top_section a {
      font-size: 34px;
      color: #6a859c;
      margin: 0px 15px; }
  #right_messenger_sidebar #options {
    border-bottom: 1px solid #cacad0;
    padding-left: 5px;
    padding-top: 10px;
    color: #aaaaaa; }
    #right_messenger_sidebar #options input {
      width: 250px;
      padding: 5px;
      color: #aaaaaa;
      margin-bottom: 2px; }
      #right_messenger_sidebar #options input:active {
        outline: 0; }
      #right_messenger_sidebar #options input:focus {
        outline: 0; }
      #right_messenger_sidebar #options input::-webkit-input-placeholder {
        color: #aaaaaa; }
    #right_messenger_sidebar #options span {
      color: #6a859c;
      font-size: 21px;
      padding-left: 8px; }
  #right_messenger_sidebar #participants {
    padding-top: 50px;
    padding-left: 5px;
    padding-bottom: 100px;
    color: #aaaaaa; }
    #right_messenger_sidebar #participants img {
      margin-bottom: 6px; }
    #right_messenger_sidebar #participants .name {
      font-size: 16px;
      padding-left: 10px;
      color: #2d3e4f;
      text-decoration: none; }
    #right_messenger_sidebar #participants .time {
      font-size: 11px;
      color: #aaaaaa;
      padding-left: 10px; }
  #right_messenger_sidebar #recent {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    color: #aaaaaa;
    width: 95%;
    overflow-x: hidden;
    height: 380px;
    overflow-y: scroll; }
    #right_messenger_sidebar #recent::-webkit-scrollbar {
      background-color: #ffffff;
      width: 3px !important;
      height: 5px !important; }
    #right_messenger_sidebar #recent::-webkit-scrollbar-thumb {
      background-color: #178ed3;
      width: 5px !important;
      height: 5px !important; }
    #right_messenger_sidebar #recent .row {
      padding: 12.3px 5px; }
    #right_messenger_sidebar #recent p {
      padding-bottom: 15px; }
    #right_messenger_sidebar #recent a {
      float: right;
      padding-right: 15px;
      font-weight: bold;
      text-decoration: none; }

/* MAIN CONTENT MESSENGER */
#main_content_messenger {
  padding-right: 320px;
  padding-left: 320px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
  #main_content_messenger #main_top_section {
    border-bottom: 1px solid #cacad0;
    text-align: center;
    padding: 0px 10px; }
    #main_content_messenger #main_top_section h4 {
      color: #192024;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 16px;
      line-height: 14px; }
    #main_content_messenger #main_top_section p {
      font-size: 12px;
      line-height: 10px; }
    #main_content_messenger #main_top_section #menu_toggle img {
      float: right;
      margin-top: -45px !important; }
  #main_content_messenger #more-messages {
    text-align: center; }
    #main_content_messenger #more-messages .more-messages {
      background-color: #178ed3;
      padding: 3px 15px;
      color: #ffffff;
      border-radius: 98px;
      text-decoration: none; }
  #main_content_messenger #messages {
    padding: 10px 20px 10px 10px;
    height: 472px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.89)), to(rgba(255, 255, 255, 0.89))), url("../img/world_map.png");
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.89)), url("../img/world_map.png");
    background: -o-linear-gradient(rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.89)), url("../img/world_map.png");
    background: linear-gradient(rgba(255, 255, 255, 0.89), rgba(255, 255, 255, 0.89)), url("../img/world_map.png");
    overflow-x: hidden;
    overflow: scroll; }
    #main_content_messenger #messages::-webkit-scrollbar {
      background-color: #ffffff;
      width: 3px !important; }
    #main_content_messenger #messages::-webkit-scrollbar-thumb {
      background-color: #178ed3;
      height: 200px !important;
      width: 3px; }
    #main_content_messenger #messages .media {
      border-bottom: 1px solid #cacad0;
      padding-left: 15px; }
      #main_content_messenger #messages .media .media-left img {
        border: 3px solid #aaaaaa; }
      #main_content_messenger #messages .media .media-left .green-border {
        border: 3px solid #4cc77f; }
      #main_content_messenger #messages .media .media-body {
        padding-left: 10px; }
        #main_content_messenger #messages .media .media-body .media-heading {
          color: #192024;
          font-weight: bold;
          font-size: 16px; }
          #main_content_messenger #messages .media .media-body .media-heading span {
            font-size: 11px;
            color: #aaaaaa;
            font-weight: 300;
            padding-left: 5px; }
        #main_content_messenger #messages .media .media-body p {
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
          max-width: 90%; }
  #main_content_messenger #compose_message {
    background-color: #ecf0f1;
    padding: 10px;
    border-top: 1px solid #cacad0; }
    #main_content_messenger #compose_message a {
      padding: 0px 15px 0px 10px; }
      #main_content_messenger #compose_message a img {
        margin-top: -50px !important; }
      #main_content_messenger #compose_message a .smiley {
        opacity: 0.3; }
      #main_content_messenger #compose_message a .upload {
        opacity: 0.8; }
    #main_content_messenger #compose_message textarea {
      width: 60%;
      display: inline-block;
      border: 2px solid #bec3c7;
      border-radius: 8px; }
  #main_content_messenger #add_section {
    padding: 10px;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    background-color: red;
    border-left: 1px solid #cacad0;
    border-right: 1px solid #cacad0;
    border-top: 1px solid #cacad0; }

/*	TOGGLE SIDEBAR	*/
#wrapper.toggle #right_messenger_sidebar {
  width: 0px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }

#wrapper.toggle #main_content_messenger {
  padding-right: 0px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }
