$white: #ffffff;
$black: #192024;
$yellow: #e2a62b;
$blue: #178ed3;
$grey: #aaaaaa;
$green: #4cc77f;
$grey-blue: #6a859c;
$border-color: #cacad0;
$name-profile-color: #2d3e4f;
$compose-bg: #ecf0f1;
$message-border: #bec3c7;