/* Small Screens */
@media screen
and ( min-width: 320px )
and ( max-width: 480px ){
	#main_navigation{
		height: 60px !important;
		.container-fluid{
			padding: 0px !important;
		}
		.navbar-collapse{
			background-color: darken( $white, 5% ); 
		}
		.navbar-nav{
			li{
				a{
					color: $grey !important; 
					text-align: center;
					margin: 0px !important;
				}
				.admin{
					margin: 0px !important;
				}
			}
		}
	}
	#left_messenger_sidebar{
		margin-top: 0px !important;
		width: 100% !important;
		.scrollbar{
			height: 350px !important;
		}
	}
	#wrapper{
		display: none;
	}
}

/* Small Screens Landscape */
@media screen
and ( min-width: 320px )
and ( max-width: 480px )
and ( orientation: landscape ){
	#left_messenger_sidebar{
		.scrollbar{
			height: 250px !important;
		}
		#left_main_section{
			.media{
				.media-body{
					p{
						max-width: 100% !important;
					}
				}
			}
		}
	}
}

/* Smarth Phones */
@media screen
and ( min-width: 481px )
and ( max-width: 767px ){
	#main_navigation{
		height: 60px !important;
		.container-fluid{
			padding: 0px !important;
		}
		.navbar-collapse{
			background-color: darken( $white, 5% ); 
		}
		.navbar-nav{
			li{
				a{
					color: $grey !important; 
					text-align: center;
					margin: 0px !important;
				}
				.btn-default{
					max-width: 300px;
					display: block;
					margin: 0 auto !important;
				}
				.admin{
					margin: 0px !important;
				}
			}
		}
	}
	#left_messenger_sidebar{
		margin-top: -5px !important;
		width: 100% !important;
		.scrollbar{
			height: 650px !important;
		}
		#left_main_section{
			.media{
				.media-body{
					p{
						max-width: 100% !important;
					}
				}
			}
		}
	}
	#wrapper{
		display: none;
	}
}

/* Smarth Phones Landscape */
@media screen
and ( min-width: 481px )
and ( max-width: 767px )
and ( orientation: landscape ){
	#left_messenger_sidebar{
		margin-top: -5px !important;
		width: 100% !important;
		.scrollbar{
			height: 350px !important;
		}
	}
}

/* Tablets */
@media screen
and ( min-width: 768px )
and ( max-width: 1024px ){
	#main_navigation{
		.navbar-nav{
			li{	
				.admin{
					margin-right: 10px !important;
				}
				.home{
					margin-right: 0px !important;
				}
			}
		}
	}
	#left_messenger_sidebar{
		margin-top: 0px !important;
		width: 100% !important;
		.scrollbar{
			height: 650px !important;
		}
		#left_main_section{
			.media{
				.media-body{
					p{
						max-width: 100% !important;
					}
				}
			}
		}
	}
	#wrapper{
		display: none;
	}
}

/* Tablets Landscape */
@media screen
and ( min-width: 768px )
and ( max-width: 1024px )
and ( orientation: landscape ){
	
}

/* Laptops */
@media screen
and ( min-width: 1025px )
and ( max-width: 1250px ){

}

/* Laptops Landscape */
@media screen
and ( min-width: 1025px )
and ( max-width: 1250px )
and ( orientation: landscape ){
	
}
