/* Small Screens */
@media screen
and ( min-width: 320px )
and ( max-width: 480px ){
	#main_navigation{
		height: 60px !important;
		.container-fluid{
			padding: 0px !important;
		}
		.navbar-collapse{
			background-color: darken( $white, 5% ); 
		}
		.navbar-nav{
			li{
				a{
					color: $grey !important; 
					text-align: center;
					margin: 0px !important;
				}
				.admin{
					margin: 0px !important;
				}
			}
		}
	}
	#left_messenger_sidebar{
		margin-top: 0px !important;
		width: 100% !important;
		display: none;
		.scrollbar{
			height: 350px !important;
		}
	}
	#wrapper{
		#main_content_messenger{
			padding-right: 0px !important;
			padding-left: 0px !important;
			width: 100% !important;
			#messages{
				height: 220px !important;
				&::-webkit-scrollbar-thumb{
					height: 100px !important;
				}
			}
			#compose_message{
				a{
					padding: 0px !important;
				}
			}
			#add_section{
				padding: 0px !important;
				font-size: 32px;
			}
		}
		#right_messenger_sidebar{
			margin-top: 44px !important;
			background-color: $white;
			z-index: 1;
			#sidebar_top_section{
				a{
					font-size: 26px;
				}
			}
			#options{
				padding: 2px !important;
				input{
					padding: 3px !important;
				}
			}
			#participants{
				padding: 10px 5px !important;
			}
			#recent{
				padding: 5px 2px !important;
				height: 185px !important;
				img{
					display: block;
					margin: 0 auto;
					height: 100px !important;
				}
			}
		}
	}
}

/* Small Screens Landscape */
@media screen
and ( min-width: 320px )
and ( max-width: 480px )
and ( orientation: landscape ){
	#left_messenger_sidebar{
		.scrollbar{
			height: 250px !important;
		}
		#left_main_section{
			.media{
				.media-body{
					p{
						max-width: 100% !important;
					}
				}
			}
		}
	}
	#wrapper{
		#main_content_messenger{
			#messages{
				height: 70px !important;
				&::-webkit-scrollbar-thumb{
					height: 30px !important;
				}
			}
			#compose_message{
				padding: 5px !important;
				a{
					padding: 0px !important;
				}
			}
			#add_section{
				padding: 0px !important;
			}
		}
		#right_messenger_sidebar{
			width: 400px;
			#sidebar_top_section{
				padding: 0px !important;
			}
			#options{
				padding: 0px !important;
			}
			#participants{
				padding: 2px 5px !important;
			}
			#recent{
				padding: 0px 2px !important;
				height: 165px !important;
				img{
					display: block;
					margin: 0 auto;
					height: 100px !important;
				}
			}
		}
	}
}

/* Smarth Phones */
@media screen
and ( min-width: 481px )
and ( max-width: 767px ){
	#main_navigation{
		height: 60px !important;
		.container-fluid{
			padding: 0px !important;
		}
		.navbar-collapse{
			background-color: darken( $white, 5% ); 
		}
		.navbar-nav{
			li{
				a{
					color: $grey !important; 
					text-align: center;
					margin: 0px !important;
				}
				.btn-default{
					max-width: 300px;
					display: block;
					margin: 0 auto !important;
				}
				.admin{
					margin: 0px !important;
				}
			}
		}
	}
	#left_messenger_sidebar{
		margin-top: -5px !important;
		width: 100% !important;
		display: none;
		.scrollbar{
			height: 650px !important;
		}
		#left_main_section{
			.media{
				.media-body{
					p{
						max-width: 100% !important;
					}
				}
			}
		}
	}
	#wrapper{
		#main_content_messenger{
			padding-right: 0px !important;
			padding-left: 0px !important;
			width: 100% !important;
			#messages{
				height: 480px !important;
				&::-webkit-scrollbar-thumb{
					height: 100px !important;
				}
			}
			#add_section{
				font-size: 36px;
			}
		}
		#right_messenger_sidebar{
			margin-top: 44px !important;
			background-color: $white;
			z-index: 1;
			width: 400px;
			#participants{
				padding: 43px 5px !important;
			}
		}
	}
}

/* Smarth Phones Landscape */
@media screen
and ( min-width: 481px )
and ( max-width: 767px )
and ( orientation: landscape ){
	#left_messenger_sidebar{
		margin-top: -5px !important;
		width: 100% !important;
		.scrollbar{
			height: 350px !important;
		}
	}
	#wrapper{
		#main_content_messenger{
			padding-right: 0px !important;
			padding-left: 0px !important;
			width: 100% !important;
			#messages{
				height: 200px !important;
				&::-webkit-scrollbar-thumb{
					height: 100px !important;
				}
			}
			#add_section{
				font-size: 36px;
			}
		}
		#right_messenger_sidebar{
			width: 500px;
			#participants{
				padding: 20px 5px !important;
			}
		}
	}
}

/* Tablets */
@media screen
and ( min-width: 768px )
and ( max-width: 1024px ){
	#main_navigation{
		.navbar-nav{
			li{	
				.admin{
					margin-right: 10px !important;
				}
				.home{
					margin-right: 0px !important;
				}
			}
		}
	}
	#left_messenger_sidebar{
		margin-top: 0px !important;
		width: 100% !important;
		display: none;
		.scrollbar{
			height: 650px !important;
		}
		#left_main_section{
			.media{
				.media-body{
					p{
						max-width: 100% !important;
					}
				}
			}
		}
	}
	#wrapper{
		#main_content_messenger{
			padding-right: 0px !important;
			padding-left: 0px !important;
			width: 100% !important;
			#messages{
				height: 725px !important;
				&::-webkit-scrollbar-thumb{
					height: 100px !important;
				}
			}
			#add_section{
				font-size: 50px;
			}
		}
		#right_messenger_sidebar{
			margin-top: 44px !important;
			background-color: $white;
			height: 100%;
			z-index: 1;
			width: 500px;
			#recent{
				height: 60%;
			}
		}
	}
}

/* Tablets Landscape */
@media screen
and ( min-width: 768px )
and ( max-width: 1024px )
and ( orientation: landscape ){
	#wrapper{
		#main_content_messenger{
			padding-right: 0px !important;
			padding-left: 0px !important;
			width: 100% !important;
			#messages{
				height: 480px !important;
				&::-webkit-scrollbar-thumb{
					height: 100px !important;
				}
			}
			#add_section{
				font-size: 50px;
			}
		}
		#right_messenger_sidebar{
			#recent{
				height: 43%;
			}
		}
	}
}

/* Laptops */
@media screen
and ( min-width: 1025px )
and ( max-width: 1250px ){

}

/* Laptops Landscape */
@media screen
and ( min-width: 1025px )
and ( max-width: 1250px )
and ( orientation: landscape ){
	
}
