@import "_colors";
@import "_typography";
@import "_mixins";
@import "_media";


/* MAIN NAVIGATION */
#main_navigation{ 
	background-image: linear-gradient(180deg, rgba(54, 61, 71, .84), rgba(54, 61, 71, .84)),  url(../img/bg-animation.gif);
	height: 50px;
	.navbar-brand{
		img{
			width: 36px;
			height: 36px;
			margin-top: -8px;
		}
	}
	.navbar-toggle{
		color: $white;
		font-size: 24px;
		padding-top: 0px;
	}
	.navbar-nav{
		li{	
			a{
				color: $white;
				@include transition(all ease 0.4s);
				&:hover{
					text-decoration: none;
					background-color: grey;
					@include transition(all ease 0.4s);
				}&:active{
					background-color: grey;
				}&:focus{
					background-color: grey;
				}
				.messages{
					color: $yellow;
				}
			}
			.btn-default{
				background-color: $white;
				color: $grey;
				padding: 10px 20px;
				border-radius: 0px;
				margin-top: 4px;
				margin-right: 10px;
				&:hover{
					background-color: grey;
					color: $white;
					@include transition(all ease 0.4s);
				}&:active{
					background-color: grey;
					color: $white;
				}&:focus{
					background-color: grey;
					color: $white;
				}
				i{
					padding-right: 6px;
				}
			}
			.admin{
				padding: 11px 10px;
				margin-right: 30px;
				img{
					width: 27px;
					height: 27px;
				}
			}
			.divider{
				border-left: 1px solid $white;
			    height: 35px;
			    position: absolute;
			    top: 8px;
			    right: 10px;
			}
		}
		.home{
			font-size: 23px;
			margin-right: 10px;
			a{
				&:hover{
					background-color: inherit;
					color: $yellow;
				}
			}
		}
	}
}

/*	LEFT MESSENGER SIDEBAR	*/
#left_messenger_sidebar{
	width: 320px;
	position: absolute;
	left: 0;
	border-right: 1px solid $border-color;
	.scrollbar{
		overflow: scroll;
		overflow-x: hidden;
		height: 640px;
		&::-webkit-scrollbar {
		background-color: $white;
		width: 3px !important;
		}&::-webkit-scrollbar-thumb{
			background-color: $blue;
			height: 200px !important;
			width: 3px;
		}
	}
	#left_top_section{
		border-bottom: 1px solid $border-color;
		padding: 10px 5px;
		input{
			width: 100%;
			padding: 5px;
			color: $grey;
			&:active{
				outline: 0;
			}
			&:focus{
				outline: 0;
			}&::-webkit-input-placeholder{
				color: $grey;
			}
		}
	}
	#left_main_section{
		padding: 10px;
		.media{
			padding: 0px 10px;
		}
		.unread-message{
			border-left: 3px solid $yellow;
		}
		.media-left{
			img{
				border: 3px solid $grey;
			}
			.green-border{
				border: 3px solid $green;
			}
		}
		.media-body{
			.media-heading{
				color: $black;
				font-weight: bold;
				font-size: 14px;
				span{
					float: right;
					font-size: 12px;
					color: $blue;
				}
			}
			p{
				float: left;
				max-width: 200px;
			}
			.bold-text{
				font-weight: bold;
			}
			a{
				img{
					float: right;
				}
			}
		}
	}
}

/* RIGHT MESSENGER SIDEBAR */
#right_messenger_sidebar{
	width: 320px;
	position: absolute;
	right: 0;
	border-left: 1px solid $border-color;
	@include transition(all ease 0.4s);
	#sidebar_top_section{
		border-bottom: 1px solid $border-color;
		text-align: center;
		a{
			font-size: 34px;
			color: $grey-blue;
			margin: 0px 15px;
		}
	}
	#options{
		border-bottom: 1px solid $border-color;
		padding-left: 5px;
		padding-top: 15px;
		color: $grey;
		input{
			width: 250px;
			padding: 5px;
			color: $grey;
			margin-bottom: 2px;
			&:active{
				outline: 0;
			}
			&:focus{
				outline: 0;
			}&::-webkit-input-placeholder{
				color: $grey;
			}
		}
		span{
			color: $grey-blue;
			font-size: 21px;
			padding-left: 8px;
		}
	}
	#participants{
		padding-top: 50px;
		padding-left: 5px;
		padding-bottom: 100px;
		color: $grey;
		img{
			margin-bottom: 6px;
		}
		.name{
			font-size: 16px;
			padding-left: 10px;
			color: $name-profile-color;
			text-decoration: none;
		}
		.time{
			font-size: 11px;
			color: $grey;
			padding-left: 10px;
		}
	}
	#recent{
		padding-top: 10px;
		padding-bottom: 20px;
		padding-left: 5px;
		color: $grey;
		width: 95%;
		overflow-x: hidden; 
		height: 380px;
		overflow-y: scroll;
		&::-webkit-scrollbar {
		background-color: $white;
		width: 3px !important;
		height: 5px !important;
		}&::-webkit-scrollbar-thumb{
			background-color: $blue;
			width: 5px !important;
			height: 5px !important;
			}
		.row{
			padding: 12.3px 5px;
		}
		p{
			padding-bottom: 15px;
		}
		a{
			float: right;
			padding-right: 15px;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

/* MAIN CONTENT MESSENGER */
#main_content_messenger{
	padding-right: 320px;
	padding-left: 320px;
	@include transition(all ease 0.4s);
}

/*	TOGGLE SIDEBAR	*/
#wrapper.toggle #right_messenger_sidebar{
	width: 0px;
	@include transition(all ease 0.4s);
}
#wrapper.toggle #main_content_messenger{
	padding-right: 0px;
	@include transition(all ease 0.4s);
}